<p>postagem-lista works!</p>
<div class="postagem-lista-container">
  <h2>Postagens</h2>
  <p-table [value]="postagens">
    <ng-template pTemplate="header">
      <tr>
        <th>Descrição</th>
        <th>Foto</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-postagem>
      <tr>
        <td>{{ postagem.descricao }}</td>
        <td>
          <img *ngIf="postagem.foto" [src]="postagem.foto" alt="Foto da postagem" width="100"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
