<div class="card">
    <div class="card-header">
      <div class="flex align-items-center gap-2">
        <p-avatar 
          image="./favicon.ico" 
          size="large" 
          shape="circle">
        </p-avatar>
        <span class="font-bold">{{ usuarioNome }}</span>
      </div>
    </div>
  
    <div class="card-content">
      <p class="m-0">
        <textarea pInputTextarea [(ngModel)]="legenda" placeholder="Escreva algo..." rows="5"></textarea>
      </p>
    </div>
  
    <div class="card-footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <p-button label="Postar" icon="pi pi-check" (click)="onSubmit()" [disabled]="!legenda"></p-button>
        <br><br>
        <span class="p-text-secondary">Postagem será públicada</span>
      </div>
    </div>
  </div>
  