<p>postagem-criar works!</p>

<div class="card">
    <p-toast />
    <p-fileUpload 
    name="myfile[]" 
    url="http://localhost:3000/api/poste/{{idUsuario}}" 
    [multiple]="true" 
    accept="image/*" 
    maxFileSize="2000000" 
    (onUpload)="onTemplatedUpload()" 
    (onSelect)="onSelectedFiles($event)">
</p-fileUpload>

</div>
<br>
<div class="card flex justify-content-center">
    <div class="flex flex-column gap-2">
        <label for="username">Username</label>
        <input 
            pInputText
            id="username" 
            aria-describedby="username-help" 
            [(ngModel)]="value" />
        <small id="username-help">
            Enter your username to reset your password.
        </small>
    </div>
</div>