<div class="card flex justify-content-center">
    <p-toast />
    <p-fileUpload
    mode="basic"
    name="file"
    chooseIcon="pi pi-upload" 
    accept="image/*"
    maxFileSize="1000000"
    url="https://www.primefaces.org/cdn/api/upload.php" 
    (onUpload)="onUpload($event)"
    customUpload="true"
    chooseLabel="Escolher Imagem">
</p-fileUpload>

</div>
    <br>
    <!-- Campo de Legenda -->
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <label for="caption">Legenda da publicação</label>
            <br>
            <input pInputText id="caption" placeholder="Adicione uma legenda" [(ngModel)]="legenda" />
        </div>
    </div>
    <br>
    <!-- Botão de Publicar -->
    <div class="flex justify-content-center mt-3">
        <p-button label="Publicar" (onClick)="onSubmit()"></p-button>
    </div>

