.card{
  align-items: center;
  justify-self: center;
  justify-content: center;
  display: flex;
  padding-top: 190px;
}

p-card{
  align-items: center;
  justify-self: center;
  justify-content: center;
  display: flex;
}


p-button{
  padding-left: 10px;
  padding-bottom: 10px;
}
